*.env
aws.policy
.DS_Store
resources/optimized/
npm-debug.log
resources/private/js/
figwheel_server.log
dev-resources
resources/public/seisei-tags.js
resources/public/js
env.my
node_modules/
resources/public/fonts/
.nrepl-port
env.sh
docs/
bower_components/
resources/public/vendor
target/
.lein*
