a { cursor: pointer;}
body {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
div.row {
	margin-left:0px;
	margin-right:0px;
}


/* Logout Button Fix */
.navbar-default .navbar-nav>li a {
	color: #ebebeb;
}

.navbar-default .navbar-nav>li a.btn {
	padding:8px 8px 6px 40px;
}
.navbar {
	margin-bottom:5px;
}


/* menu */
.dropdown-menu {
		max-height:350px;
		overflow-y:auto;
}

.templates-menu ul {
		max-width:250px;
		min-width:100px;
}
.templates-menu a {
}
.templates-menu .main-link {
		margin-right:60px;
		overflow-x: hidden;
		text-overflow: ellipsis;
}

.templates-menu .static-link {
		position: absolute;
		right: 0;
		padding-left: 10px;
		padding-right: 10px;
		display:inline-block;
}
.templates-menu .dynamic-link {
		position: absolute;
		right: 30px;
		padding-left: 10px;
		padding-right: 10px;
		display:inline-block;
}

.sharing-menu .static-link {
		position: absolute;
		right: 0;
		padding-left: 10px;
		padding-right: 10px;
		display:inline-block;
}
.sharing-menu .main-link {
		margin-right:30px;
}
/* end menu */
