a { cursor: pointer;}
body {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
div.row {
	margin-left:0px;
	margin-right:0px;
}


/* Logout Button Fix */
.navbar-default .navbar-nav>li a {
	color: #ebebeb;
}

.navbar-default .navbar-nav>li a.btn {
	padding:8px 8px 6px 40px;
}
.messages-overlay {
	position: absolute;
	width: 100%;
	z-index: 10;
	margin-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
}
.alert {
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
.navbar {
	margin-bottom:5px;
}
